<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdaptiveWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB8C6DB91E25B24F00C05A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB8C6DCD1E25B25000C05A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB8C6DD81E25B25000C05A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
